/*Configuracion basica*/
header {
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2.5rem 0.75rem 1.2rem;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

/*Menu*/
.menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*Menu desplegable*/
.menu {
  width: 1.5rem;
  height: 1.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Animación del menu*/
.menu div {
  position: absolute;
  width: 100%;
  height: 0.15rem;
  background-color: var(--menu-color);
  transition: all 0.3s ease;
  transform-origin: center;
}

.menu div:nth-child(1) {
  top: 0;
}

.menu div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu div:nth-child(3) {
  bottom: 0;
}

.menu.menu-toggle div:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.menu.menu-toggle div:nth-child(2) {
  opacity: 0;
}

.menu.menu-toggle div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: auto;
  top: 50%;
}

/*Logo y nombre de la app*/
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.brand .logo {
  width: 1.7rem;
}
.brand .name {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-title-color);
}

/* Right section */
.right {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
}

.right a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}
.right a:hover {
  background-color: var(--background-hover);
}

.notifications {
  width: 1.5rem;
  margin: 0.5rem;
}

/*Profile photo*/
.right .user {
  width: 2.1rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0;
}

.separator {
  width: 1px;
  height: 24px;
  background-color: black;
}

/* Profile dropdown */
.profile-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.greeting {
  font-size: 0.85rem;
  color: var(--text-color);
}

.arrow-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  display: none;
  top: 100%;
  right: 5px;
  background-color: var(--background-color);
  border-radius: 0.6rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.7rem 3rem;
  margin-top: 1.35rem;
  z-index: 9999;
  white-space: nowrap;
  min-width: 180px;
}

.dropdown-menu img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.dropdown-menu.show {
  display: block;
}

/* Logout button */
.logout-btn {
  position: relative;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  text-align: left;
  transition: color 0.2s;
  overflow: visible;
}

.logout-btn::before {
  content: "";
  position: absolute;
  top: -9px; /* más alto */
  left: -45px; /* más hacia la izquierda */
  right: -45px; /* más hacia la derecha */
  bottom: -9px; /* más abajo */
  border-radius: 0.5rem;
  background-color: rgb(242, 250, 255);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}

.logout-btn:hover::before {
  opacity: 1;
}

/* Responsive */
@media (max-width: 500px) {
  .right .icons-header {
    display: none;
  }
}
