.sidebar {
  margin-top: 4rem;
  width: 3.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.1rem 0;
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  background-color: var(--background-color);
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar.menu-toggle {
  width: 18.75rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding: 0.9rem 0.7rem;
  text-decoration: none;
  margin: 0 0 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-color);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background-color;
}

.sidebar a:hover {
  background-color: var(--background-hover);
}

.sidebar a.selected {
  background-color: var(--background-selected);
  color: var(--text-selected-color);
}

.sidebar a.search {
  padding: 1rem 0.7rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.2rem;
}

.sidebar img {
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.sidebar span {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar:not(.menu-toggle) span {
  opacity: 0;
  pointer-events: none;
}

.sidebar.menu-toggle span {
  opacity: 1;
}

@media (max-width: 500px) {
  .sidebar {
    width: 0;
    padding: 0;
    border-right: none;
  }

  .sidebar.menu-toggle {
    width: 100vw;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
  }
}
