@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--background-color);
}

/*Colores*/
:root {
  --background-color: white;
  --text-title-color: #053d4e;
  --text-color: #32363b;
  --icon-color: #32363b;
  --icon-menu-color: #707780;
  --menu-color: #707780;

  --text-selected-color: #355cc0;
  --background-selected: #ebf0ff;
  --background-hover: #f7f9fa;

  --border-color: #e6e9ed;
}

/*
main {
  border: 2px solid red;
  flex: 1;
  margin-top: 4.5rem;
  margin-left: 4rem;
  margin-right: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
}*/
