---
import Layout from "../layouts/layout.astro";
export const prerender = false;
---

<!-- <Layout title="Chat">-->
<Layout>
  <div class="chat" id="chat">
    <h1>Bienvenido a la pagina de Chats</h1>
    <p>Esta es una pagina de ejemplo creada con Astro.</p>
    <p>Explora el contenido y disfruta de la experiencia.</p>
  </div>
</Layout>
