---
import Layout from "../layouts/layout.astro";
export const prerender = false;
---

<!-- <Layout title="Inicio">-->
<Layout>
  <div class="Inicio" id="Inicio">
    <h1>Bienvenido a la pagina de Inicio</h1>
    <a href="https://www.youtube.com/?app">XD</a>
    <p>Esta es una pagina de ejemplo creada con Astro.</p>
    <p>Explora el contenido y disfruta de la experiencia.</p>
  </div>
</Layout>
