---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
---

<!-- <Layout title="Puntuaciones">-->
<Layout>
  <div class='puntuaciones"' id="puntuaciones">
    <h1>Bienvenido a la pagina depuntuaciones</h1>
    <p>Esta es una pagina de ejemplo creada con Astro.</p>
    <p>Explora el contenido y disfruta de la experiencia.</p>
  </div>
</Layout>
