---
import "../styles/header.css";
---

<header>
  <div class="left">
    <div class="menu-container">
      <div class="menu" id="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="brand">
      <img src="/assets/svg/logo_tem.svg" alt="icon" class="logo" />
      <span class="name">empresa</span>
    </div>
  </div>

  <div class="right">
    <a href="#" class="icons-header">
      <img src="/assets/svg/notifications.svg" alt="notifications" />
    </a>
    <div class="separator"></div>
    <div class="profile-dropdown">
      <div class="profile-info" id="profileToggle">
        <span class="greeting">Hola, <strong>Marco Fabian</strong></span>
        <img src="/assets/images/kirby.webp" alt="user" class="user" />
        <img
          src="/assets/svg/arrow-down.svg"
          alt="arrow"
          class="arrow-icon"
          id="arrowIcon"
        />
      </div>

      <div class="dropdown-menu" id="dropdownMenu">
        <button id="logout" class="logout-btn">
          <img src="/assets/svg/logout.svg" alt="logout" />
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>

  <script type="module" src="/scripts/profileMenu.js"></script>
</header>
